<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 세미콜론 절대 주의!!!!쓰지마시오 -->
<mapper namespace="org.zerock.mapper.BoardMapper">
<sql id="criteria">
         <trim prefix="(" suffix=") and" prefixOverrides="or">
         	<foreach collection="typeArr" item="type1">
	         	<trim prefix="or">
    		     	<choose>
						<when test='type1=="T"'>
						title like '%'||#{keyword}||'%'
						</when>         	
						<when test='type1=="C"'>
						content like '%'||#{keyword}||'%'
						</when>         	
						<when test='type1=="W"'>
						writer like '%'||#{keyword}||'%'
						</when>         	
      			   	</choose>
     	    	</trim>
         	</foreach>
         </trim>
</sql>
	
	<select id="getList" resultType="org.zerock.domain.BoardVO">
	<![CDATA[ 
		select  bno, title, writer, regdate, updatedate, visit
		from(select /*+ INDEX_DESC(tbl_board tbl_board_index1) */   rownum rn, bno, title, writer, regdate, updatedate, visit
		from tbl_board where rownum<=20)
		where rn>10 and rn<=20
		 ]]>
		 
	</select>
	
	<select id="getListWithiPaging" resultType="org.zerock.domain.BoardVO">
	<![CDATA[ 
 	select bno, title, writer, regdate, updatedate, visit
		from(select /*+ INDEX_ASC(tbl_board TBL_BOARD_INDEX1)*/ rownum rn, bno, title, writer, regdate, updatedate, visit
         from tbl_board where
         ]]>
         
         <include refid="criteria"></include>
     
         <![CDATA[ 
          rownum<=#{pageNum} *#{amount}) 
		where rn>(#{pageNum}-1)* #{amount} 
		 ]]>
	</select>
	

	<insert id="insert">
		insert into TBL_BOARD(bno, title, content, writer, visit)
		values(seq_board.nextval,#{title},#{content},#{writer},0)
	</insert>

	<insert id="insertSelectKey">
		<selectKey keyProperty="bno" order="BEFORE"
			resultType="long">
			select seq_board.nextval from dual
		</selectKey>
		insert into TBL_BOARD(bno, title, content, writer, visit)
		values(#{bno},#{title},#{content},#{writer},0)
	</insert>

	<select id="myselectKey" resultType="long">
		select seq_board.nextval
		from dual
	</select>

	<insert id="myInsert">
		insert into TBL_BOARD(bno, title, content, writer, visit)
		values(#{bno},#{title},#{content},#{writer},0)
	</insert>

	<update id="update">
		update TBL_BOARD set
		TITLE=#{title},content=#{content},writer=#{writer},updatedate=sysdate
		where bno=#{bno}
	</update>

	<delete id="delete">
		delete from TBL_BOARD where bno=#{bno}
	</delete>

	<select id="read" resultType="org.zerock.domain.BoardVO">
		select * from TBL_BOARD where bno=#{bno}
	</select>

	<select id="count" resultType="long">
		select count(*) from TBL_BOARD where
	<include refid="criteria"></include>
	bno > 0

	</select>

	<select id="todayCount" resultType="long">
		select count(*) from TBL_BOARD
		where to_char(regdate,'yyyy-mm-dd') = (select to_char(sysdate,'yyyy-mm-dd') from dual)
	</select>
	
	<select id="rank" resultType="org.zerock.domain.RankVO">
		select writer,count(*) count from TBL_BOARD group by writer order by count desc
	</select>
	
	<select id="last" resultType="org.zerock.domain.LastVO">
		select*from (select * from TBL_BOARD order by regdate desc) where ROWNUM = 1
	</select>
	
	<update id="visit" >
		update TBL_BOARD set VISIT =#{visit}+1 where bno=#{bno}
	</update>
	
	<select id="writerRank" resultType="org.zerock.domain.WriterRank">
	  <![CDATA[ 
	select writer, cn
	from (select writer, count(*) cn from tbl_board group by writer order by cn desc)
	where rownum < 6
	 ]]>
	</select>
	
	
</mapper>