<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 세미콜론 절대 주의!!!!쓰지마시오 -->
<mapper namespace="org.zerock.mapper.ReplyMapper">


	<insert id="insert">
	insert into tbl_reply(bno,reply,replyer)
	values(#{bno},#{reply},#{replyer})

	</insert>
	
	<update id="update">
		update tbl_reply set reply=#{reply},replyer=#{replyer},updatedate=sysdate where rno=#{rno}
	</update>

	<delete id="delete">
		delete from tbl_reply where rno=#{rno}
	</delete>
	
	<select id="read" resultType="org.zerock.domain.ReplyVO">
		select * from tbl_reply where rno=#{rno}
	</select>
	
	<select id="getList" resultType="org.zerock.domain.ReplyVO">
		select * from tbl_reply where bno=#{bno} order by rno
	</select>
	
	<select id="testMybatis" resultType="org.zerock.domain.ReplyVO">
	select *from tbl_reply where rno in(#{reply.rno},#{rno2})
	</select>
	
	
</mapper>